html {
  font-size: 16px;
  @media (max-width: 767px) {
    font-size: 10px;
  }
}

body {
  background: #14bdac;
  font-family: "Baloo Paaji 2", cursive;
  margin: 0;
  display: flex;
  min-height: 100vh;
}

.game {
  margin: auto;
  width: 100%;
  &__title {
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 20px;
    margin-top: 0;
    @media (max-width: 767px) {
      text-transform: uppercase;
    }
  }
  &__content {
    display: grid;
    max-width: 468px;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    @media (max-width: 767px) {
      max-width: 320px;
    }
  }
  &__item {
    height: 150px;
    background: rgba(255, 255, 255, 0.2);
    border: 3px solid #14bdac;
    font-size: 8rem;
    line-height: 150px;
    text-align: center;
    color: #fff;
    @media (max-width: 767px) {
      height: 106px;
      line-height: 106px;
    }
  }

  &__restart {
    background: #fff;
    color: #14bdac;
    text-align: center;
    max-width: 412px;
    display: block;
    margin: auto;
    padding: 25px;
    text-decoration: none;
    font-size: 24px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 3px;
    transition: opacity 0.3s;
    @media (max-width: 767px) {
      max-width: 314px;
      box-sizing: border-box;
    }
    &:hover {
      opacity: 0.7;
    }
  }
}

.winner__label {
  display: flex;
  box-sizing: border-box;
  position: absolute;
  padding: 20px;
  width: calc(100% - 6px);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  left: 3px;
  top: 3px;
  height: calc(100% - 6px);
  color: #14bdac;
  font-size: 2.5rem;
  line-height: 1.1;
  background: rgba(255, 255, 255, 0.85);
  text-align: center;
  span {
    font-weight: bold;
    font-size: 7rem;
    line-height: 1;
  }
}
